.dimensions {
  padding-top: pxToRem(129);
  padding-bottom: pxToRem(125);

  .title {
    margin-bottom: pxToRem(50);
  }

  .content-wrapper {
    padding-left: pxToRem(65);
    padding-right: pxToRem(65);

    .content-box {
      gap: pxToRem(30);
      margin-bottom: pxToRem(50);
      padding: pxToRem(64) pxToRem(61) pxToRem(67);

      .item-wrapper {
        gap: pxToRem(25);

        .item-icon {
          width: pxToRem(80);
          height: pxToRem(80);
        }

        .details-wrapper {

          .item-title {
            font-size: pxToRem(35);
            line-height: pxToRem(42);
            margin-bottom: pxToRem(15);
          }

          .range {

          }
        }
      }
    }
  }

  .images-wrapper {
    gap: pxToRem(30);

    .image {
      overflow: hidden;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: pxToRem(5);
    }
  }
}



@media (max-width: $md-breakpoint) {
  .dimensions {
    padding-top: pxToRem(200);
    padding-bottom: pxToRem(200);

    .title {
      margin-bottom: pxToRem(100);
    }

    .content-wrapper {
      padding-left: 0;
      padding-right: 0;

      .content-box {
        gap: pxToRem(120);
        margin-bottom: pxToRem(100);
        padding: pxToRem(100);

        .item-wrapper {
          gap: pxToRem(60);

          .item-icon {
            width: pxToRem(200);
            height: pxToRem(200);
          }

          .details-wrapper {

            .item-title {
              font-size: pxToRem(78);
              line-height: pxToRem(110);
              margin-bottom: pxToRem(15);
            }

            .range {

            }
          }
        }
      }
    }

    .images-wrapper {
      gap: pxToRem(30);

      .image {
        overflow: hidden;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: pxToRem(15);
      }
    }
  }
}
