.footer {

  display: flex;
  flex-direction: column;
  height: pxToRem(737);

  .content-wrapper {
    height: pxToRem(437);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: pxToRem(5);

    .bg-image {
      position: absolute;
      inset: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .content {
      top: pxToRem(-40);

      .title {
        color: $white;
        margin-bottom: pxToRem(10);
      }

      .description {

      }
    }
  }

  .footer-content-wrapper {
    margin-top: auto;
    height: pxToRem(521);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .logo-wrapper {
      padding-bottom: pxToRem(50);
      border-bottom: pxToRem(1) solid $gray;

      .logo {
        width: pxToRem(244);
        height: pxToRem(46);
        margin: auto;
      }
    }

    .items-wrapper {
      padding-top: pxToRem(20);
      padding-bottom: pxToRem(31);

      .copyright {
        font-size: pxToRem(18);
        line-height: pxToRem(27);
      }

      .links-wrapper {
        gap: pxToRem(100);

        .footer-link {
          font-size: pxToRem(18);
          line-height: pxToRem(27);
        }
      }
    }
  }
}




@media (max-width: $md-breakpoint) {
  .footer {

    display: flex;
    flex-direction: column;
    height: auto;

    .content-wrapper {
      height: pxToRem(1000);
      position: relative;
      top: 0;
      left: 0;
      overflow: hidden;
      border-radius: pxToRem(15);

      .bg-image {
        position: absolute;
        inset: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .content {
        top: 0;
        padding: pxToRem(100);

        .title {
          color: $white;
          margin-bottom: pxToRem(20);
        }

        .description {

        }
      }
    }

    .footer-content-wrapper {
      padding-top: pxToRem(120);
      margin-top: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .logo-wrapper {
        padding-bottom: pxToRem(100);
        border-bottom: pxToRem(1) solid $gray;

        .logo {
          width: pxToRem(700);
          height: pxToRem(132);
          margin: auto;
        }
      }

      .items-wrapper {
        flex-direction: column-reverse;
        padding-top: pxToRem(50);
        padding-bottom: pxToRem(80);

        .copyright {
          text-align: center;
          font-size: pxToRem(18);
          line-height: pxToRem(27);
          margin-bottom: pxToRem(50);
        }

        .links-wrapper {
          gap: pxToRem(100);
          margin-bottom: pxToRem(50);

          .footer-link {
            font-size: pxToRem(18);
            line-height: pxToRem(27);
          }
        }
      }
    }
  }
}
