.video-strip {
  padding-top: pxToRem(110);
  padding-bottom: pxToRem(113);

  .video-wrapper {
    width: pxToRem(1360);
    height: pxToRem(500);

    .thumbnail-wrapper {
      cursor: pointer;
      width: 100%;
      height: 100%;
      display: none;

      &.show {
        display: block;
      }

      &:before {
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
      }

      .thumbnail-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .play-wrapper {
        gap: pxToRem(15);
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;
        white-space: nowrap;
        font-size: pxToRem(22);
        line-height: pxToRem(35);
        transform: translate(-50%, -50%);

        .play-icon {
          width: pxToRem(70);
          height: pxToRem(70);
        }
      }
    }

    .video-frame {
      width: 100%;
      height: 100%;
    }
  }
}



@media (max-width: $md-breakpoint) {
  .video-strip {
    padding-top: pxToRem(200);
    padding-bottom: pxToRem(200);

    .video-wrapper {
      width: 100%;
      height: pxToRem(1000);

      .thumbnail-wrapper {
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: none;
        position: relative;

        &.show {
          display: block;
        }

        &:before {
          content: '';
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          z-index: 5;
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
        }

        .thumbnail-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .play-wrapper {
          gap: pxToRem(30);
          position: absolute;
          top: 50%;
          left: 50%;
          white-space: nowrap;
          font-size: pxToRem(80);
          line-height: pxToRem(100);
          transform: translate(-50%, -50%);

          .play-icon {
            width: pxToRem(240);
            height: pxToRem(240);
          }
        }
      }

      .video-frame {
        width: 100%;
        height: 100%;
      }
    }
  }
}
