// ============ Pages ============
// Home
@import 'pages/home';
@import 'pages/protection';


// ============ Components ============
// Sections
@import 'components/heroBanner';
@import 'components/features1';
@import 'components/foodHygiene';
@import 'components/topOffer';
@import 'components/installationArea';
@import 'components/whyUs';
@import 'components/videoStrip';
@import 'components/impressions';
@import 'components/quotationForm';
@import 'components/protectionWall';
@import 'components/areasOfApplication';
@import 'components/dimensions';
@import 'components/profileTypesAndColors';

// Common
@import 'components/header';
@import 'components/footer';
